@use "./variables" as *;

.button{
  display: block;
  width: 100px;
  background-color: $color-secondary;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: $color-white;
}

.navigation {
  height: 10vh;
  background-color: $color-primary;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: $color-white
    font-size 20px;
    font-family: $font-display;
  }

 
}

.intro{
  text-align: center;

  .heading{
    color: $color-primary
    font-size 50px;
  }

  .subheading{
    font-family: $font-display;
    font-size: 25px;
    margin: 20px 0;
  }

  .button{
    margin: 0 auto;
  }
}

.wave{
  fill-opacity: 1;
  fill: $color-primary;
}