@use "./variable" as *;
@use "./layouts";
@use "./components";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color: $color-black;
}

a:link
a:visited{
  text-decoration: none;
}

